SERVICE_BASE64_64_KEY=your-base64-key
SERVICE_BASE64_64_SECRET=your-base64-password
SERVICE_FQDN_DIRECTUS=https://directus.yourdomain.com
SERVICE_FQDN_DIRECTUS_8055=https://directus.yourdomain.com:8055
SERVICE_PASSWORD_ADMIN=your-directus-admin-password
SERVICE_PASSWORD_POSTGRESQL=your-directus-postgresql-user-password
SERVICE_USER_POSTGRESQL=your-postgresql-superuser
ADMIN_EMAIL=your-admin-email
ADMIN_PASSWORD=$SERVICE_PASSWORD_ADMIN
DB_PASSWORD=$SERVICE_PASSWORD_POSTGRESQL
DB_USER=$SERVICE_USER_POSTGRESQL
KEY=$SERVICE_BASE64_64_KEY
POSTGRES_DB=directus
POSTGRES_HOST=postgresql
POSTGRES_PASSWORD=you-postgresql-directus-user-password
POSTGRES_PORT=5432
POSTGRES_USER=directus_user
POSTGRESQL_DATABASE=directus
PUBLIC_URL=https://directus.yourdomain.com
REDIS_HOST=redis
REDIS_PASSWORD=your-redis-password
REDIS_PORT=6379
SECRET=$SERVICE_BASE64_64_SECRET
